# **My first Neural Network with tensorflow**

## **Data Importing**

In [4]:
import pandas as pd

In [10]:
df=pd.read_csv('/Users/rayquaza/Documents/desk/mlops/tensorflow/databases/Churn.csv')
df.head()

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

### **Data splitting**

In [31]:
from sklearn.model_selection import train_test_split as tts

In [32]:
x=pd.get_dummies(df.drop(['Churn','Customer ID'],axis=1))
y=df['Churn'].apply(lambda x: 1 if x=='Yes' else 0)

In [35]:
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.2,random_state=100)

In [47]:
x_train

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
4927,0,62,60.15,False,True,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
390,0,1,44.00,False,True,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1007,0,18,90.10,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
6390,0,58,19.55,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2939,0,53,97.75,False,True,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,1,30,74.75,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3927,0,11,34.70,False,True,True,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
5955,0,20,55.00,False,True,True,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
6936,0,65,110.80,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
5640,0,6,20.65,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [49]:
x_test

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
4881,0,50,20.55,False,True,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1541,0,63,80.30,False,True,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1289,0,64,19.55,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
6937,0,5,80.15,False,True,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4874,0,7,19.30,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4219,0,7,25.05,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3989,0,51,81.15,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
6669,0,38,103.65,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2101,0,69,99.50,False,True,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
6078,0,62,113.95,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

## **Import dependencies**

In [2]:
!pip install tensorflow==2.18.1
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

Requirement already satisfied: tensorflow==2.18.1 in /opt/anaconda3/lib/python3.12/site-packages (2.18.1)
Requirement already satisfied: absl-py>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (0.5.3)
Requirement already satisfied: google-pasta>=0.1.1 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (0.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (3.3.0)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (24.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (5.29.3)
Requirement already satisfied: requests<3,>=2.21.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (2.32.3)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (72.1.0)
Requirement already satisfied: six>=1.12.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (2.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (4.11.0)
Requirement already satisfied: wrapt>=1.11.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (1.71.0)
Requirement already satisfied: tensorboard<2.19,>=2.18 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (2.18.0)
Requirement already satisfied: keras>=3.5.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (3.6.0)
Requirement already satisfied: h5py>=3.11.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (3.11.0)
Requirement already satisfied: ml-dtypes<1.0.0,>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow==2.18.1) (0.4.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /opt/anaconda3/lib/python3.12/site-packages (from astunparse>=1.6.0->tensorflow==2.18.1) (0.44.0)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/lib/python3.12/site-packages (from h5py>=3.11.0->tensorflow==2.18.1) (1.26.4)
Requirement already satisfied: rich in /opt/anaconda3/lib/python3.12/site-packages (from keras>=3.5.0->tensorflow==2.18.1) (13.7.1)
Requirement already satisfied: namex in /opt/anaconda3/lib/python3.12/site-packages (from keras>=3.5.0->tensorflow==2.18.1) (0.0.7)
Requirement already satisfied: optree in /opt/anaconda3/lib/python3.12/site-packages (from keras>=3.5.0->tensorflow==2.18.1) (0.14.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow==2.18.1) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow==2.18.1) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow==2.18.1) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow==2.18.1) (2025.7.14)
Requirement already satisfied: markdown>=2.6.8 in /opt/anaconda3/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow==2.18.1) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow==2.18.1) (0.7.0)
Requirement already satisfied: werkzeug>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow==2.18.1) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /opt/anaconda3/lib/python3.12/site-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow==2.18.1) (2.1.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from rich->keras>=3.5.0->tensorflow==2.18.1) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from rich->keras>=3.5.0->tensorflow==2.18.1) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in /opt/anaconda3/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow==2.18.1) (0.1.0)

ModuleNotFoundError: No module named 'tensorflow'

## **Build and complie model**

## **Fit predict and evaluate**

## **saving and reloading**