In [1]:
import pandas as pd

In [27]:
x=[[1,2,3],[4,5,6],[7,8,9]]
df=pd.DataFrame(x,columns=['x','y','z'], index=['a','b','c'])

In [29]:
df

   x  y  z
a  1  2  3
b  4  5  6
c  7  8  9